* {
    margin: 0;
    padding: 0;
}


body {
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

/* .container{

} */

.left {
    width: 30vw;
    /* height: 100vh; */
    padding: 15px;
    transition: all 1s ease-in-out;
}

.home {
    background-color: hsl(0, 1%, 10%);
    margin-bottom: 10px;
    height: 15vh;
    position: relative;
    min-height: 130px;
}

.home>div {
    gap: 10px;
    margin-bottom: 10px;
}

.home div span {
    font-size: 22px;
}

.home ul {
    margin-top: 20px;
    margin-left: 10px;
    list-style: none;
    gap: 10px;
    font-size: 15px;
}

.home ul li {
    gap: 10px;
    display: flex;
    align-items: center;
}

.close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.library {
    min-height: 79.5vh;
    /* max-width: 20vw; */
    background-color: hsl(0, 1%, 10%);
    position: relative;
    margin-top: 15px;
}

.library div {
    font-size: 22px;
}

.songList {
    padding: 20px 15px 10px 15px;
    height: 55vh;
    overflow-y: scroll;
}

.songList ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.songList ul li {
    padding: 10px 15px 10px 10px;
    gap: 10px;
    font-size: 10px;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    width: 100%;
    justify-content: space-between;
    border: 2px solid hsl(0, 1%, 10%);
    /* modern property */
    overflow-wrap: break-word;
    /* fallback */
    /* word-wrap: break-word;    */
    /* allows wrapping */
    /* white-space: normal;        */
}

.songname {
    word-break: break-all;
}

.playNow {
    /* min-width: 55px;
    max-width: 55px; */
    flex: 0 0 55px;
    /* flex-grow:0, flex-shrink:0, flex-basis:55px */

}

.songList ul li * {
    font-size: 10px;
}


.footer {
    width: 100%;
    /* overflow: auto; */
    flex-wrap: wrap;
    position: absolute;
    max-width: 90%;
    bottom: 0px;
    /* padding: 10px; */
    min-width: 0;
    margin-bottom: 10px;
}

.footer div a {
    color: rgb(106, 105, 105);
    font-size: 10px;

}

.right {
    width: 70vw;
    /* height: 100vh; */
    /* height: 100%; */
    padding: 15px 15px 15px 0;
    position: relative;
    transition: all 1s;
}

.header {
    justify-content: space-between;
    height: 7vh;
}

.hamburger {
    display: none;
}

.login {
    background-color: hsl(0, 2%, 15%);
    color: rgb(176, 175, 175);
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease-in, color 0.25s ease-out;
}

.login:hover {
    font-weight: 700;
    background-color: hsl(0, 2%, 20%);
    color: rgb(255, 255, 255);
}

.login:active {
    background-color: hsl(0, 2%, 30%);
}

.signup {
    background-color: hsl(0, 2%, 15%);
    color: rgb(176, 175, 175);
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease-in, color 0.25s ease-out;
}

.signup:hover {
    font-weight: 700;
    background-color: hsl(0, 2%, 20%);
    color: rgb(255, 255, 255);
}

.signup:active {
    background-color: hsl(0, 2%, 30%);
}

.musicPlaylist {
    margin-top: 15px;
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow: auto; */
    /* position: relative; */
}

.musicPlaylist h1 {
    font-size: 30px;
    /* position: sticky;
    top: 0;
    z-index: 10;
    background: hsl(0, 1%, 10%); */
}

.cardContainer {
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    /* min-width: 180px; */
    max-width: 180px;
    min-height: 200px;
    max-height: 300px;
    background-color: hsl(0, 1%, 15%);
    cursor: pointer;
    transition: background-color 0.25s;
    position: relative;
}

.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 13px;
}

.card h2,
p {
    padding-top: 5px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
}

.card:hover {
    background-color: hsl(0, 1%, 20%);
}

.cardPlay {
    position: absolute;
    right: -10px;
    bottom: 30%;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.moveUP {
    opacity: 1;
    right: 10%;
}

/* .cardPlay:hover{
    animation: moveUp 1.5s ease 1 forwards;
    animation-iteration-count: 1;
} */
/* @keyframes moveUp {
    from{
        bottom:70px;
        opacity: 0;
    }
    to{
        right: 15px;
        bottom: 120px;
        opacity: 1;
    }
} */

.cardPlay img {
    height: 40px;
}

.player {
    bottom: 0;
    height: 18vh;
    margin: 15px 0 0 0;
    display: flex;
    padding: 20px 10px 20px 10px;
    justify-content: space-between;
    position: relative;
}

.songButtons {
    gap: 20px;
    /* position: relative; */
}

.songCtrl {
    height: 35px;
}

.volume {
    position: absolute;
    left: 5.5%;
    height: 15%;
}


.seekbar {
    width: 90%;
    height: 10px;
    background-color: #625f5f;
    cursor: pointer;
}

.volume .seekbar {
    width: 10vw;
}

.seek {
    height: 30px;
    width: 7px;
    background-color: #d2d2d2;
    filter: invert(1);
    border-radius: 10px;
    bottom: 10px;
    position: relative;
    left: 0%;
    transition: left 0.2s;
    cursor: pointer;
}

.seekVol {
    left: 98%
}

.songInfo {
    font-size: 1.5rem;
    width: 90%;
    justify-content: space-between;
    align-items: center;

}

.songName {
    width: 40%;
    word-break: break-all;
    /* border: 2px solid red; */
    /* overflow: hidden; */
    /* padding-left: 15%; */
}


.songName div {
    text-align: center;
    /* flex-shrink: 0;
    flex-grow: 0;
    position: absolute;
    position: relative;
    animation: ticker 2s linear infinite;
    white-space: nowrap; */
}

@keyframes ticker {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


@media (max-width:1150px) {
    .left {
        position: absolute;
        left: -100%;
        z-index: 1;
        width: 40vw;
    }

    .home {
        background-color: hsl(100, 1%, 20%);
    }

    .library {
        background-color: hsl(100, 1%, 20%);
    }

    .right {
        width: 100vw;
        padding-left: 15px;
    }

    .close {
        display: block;
    }

    .hamburger {
        display: inline;
        padding-right: 10px;
        height: 40px;
    }

}

@media (max-width:850px) {
    .left {
        width: 50vw;
    }
}

@media (max-width:670px) {
    .left {
        width: 70vw;
    }

    .volume * {
        display: none;
    }

    .songInfo {
        font-size: 15px;
    }
}

@media (max-width:480px) {
    .arrow {
        display: none;
    }

    .hamburger {
        height: 25px;
    }

    .library {
        height: 40vh;
    }

    .musicPlaylist h1 {
        font-size: 25px;
    }

    .login {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }

    .signup {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }

    .left {
        width: 90vw;
    }

    .musicPlaylist {
        height: 54vh
    }

    .cardContainer {
        margin: 30px 0px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        max-width: 40vw;
        max-height: 250px;
        justify-content: none;
    }

    .player {
        height: 30vh;
        margin-top: 15px;
        justify-content: space-evenly;
    }


    .songInfo {
        margin-top: 10px;
        flex-direction: column;
        gap: 12px;
        font-size: 15px;
        gap: 10px;
    }


    .songName {
        width: 90%;
        text-align: center;
    }
}

@media (max-width:300px) {
    .card {
        max-width: 80%;
    }
}

@media (max-height:800px) {

    /* .musicPlaylist{
        height:59vh
    }
    .player{
        height: 24vh;
        margin-top: 15px;
        flex-direction: row;
    } */
    .library {
        height: 60vh;
    }
}

@media (max-height:720px) {
    /* .musicPlaylist {
        height: 59vh
    } */

    .player {
        padding: 0;
        /* height: 24vh; */
        margin-top: 15px;
    }
}

@media(max-height:600px) {
    .hamburger {
        height: 25px;
    }

    .library {
        height: 40vh;
    }

    .musicPlaylist h1 {
        font-size: 25px;
    }

    .login {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }

    .signup {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }
}

@media (max-height:570px) {
    .musicPlaylist {
        height: 55vh
    }
    .musicPlaylist h1{
        font-size: 20px;
    }

    .player {
        height: 26vh;
        margin-top: 15px;
    }
    .nextBtn,.previousBtn,.playBtn{
        height: 30px;
        width: 30px;
    }
    .songInfo{
        font-size: 15px;
    }
}

@media (max-height:510px) {
    .musicPlaylist {
        height: 45vh
    }

    .player {
        height: 36vh;
        margin-top: 15px;
    }
}